In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
# load data
data=pd.read_csv('OH-methanol_kT_data_csv.csv')
data

,"Temperature, T (Kelvin)","Rate constant, k (cm^3 mol^-1 s^-1)",1/T,ln(k/(T^2.72))
0,240.0,6.570000e-13,0.004167,-42.958430
1,296.0,8.610000e-13,0.003378,-43.258460
2,350.0,1.250000e-12,0.002857,-43.341456
3,400.0,1.410000e-12,0.002500,-43.584215
4,440.0,1.620000e-12,0.002273,-43.704622
...,...,...,...,...
86,465.0,1.350000e-12,0.002151,-44.037258
87,570.0,2.060000e-12,0.001754,-44.168446
88,597.0,2.670000e-12,0.001675,-44.034957
89,669.0,2.790000e-12,0.001495,-44.300712
90,803.0,5.760000e-12,0.001245,-44.072408

In [ ]:
# load feature variable x and target variable y
X = data.iloc[:,2]
y = data.iloc[:,3]

# show variable shapes
print(f'X = \n')
print(f'{X} \n')
print(f'y = \n')
print(f'{y}')

X =

0     0.004167
1     0.003378
2     0.002857
3     0.002500
4     0.002273
        ...
86    0.002151
87    0.001754
88    0.001675
89    0.001495
90    0.001245
Name: 1/T, Length: 91, dtype: float64

y =

0    -42.958430
1    -43.258460
2    -43.341456
3    -43.584215
4    -43.704622
        ...
86   -44.037258
87   -44.168446
88   -44.034957
89   -44.300712
90   -44.072408
Name: ln(k/(T^2.72)), Length: 91, dtype: float64